.new-customer-container img {
  width: 100%;
  transition: 5s all ease-in-out;
}

.new-customer-container:hover img {
  transform: scale(1.05);
}

.new-customer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-customer-container .imgBox {
  display: inline-block;
  overflow: hidden !important;
  position: relative;
  border-radius: 20px;
  min-width: 400px;
  margin-left: 60px;
  margin-top: 60px;
}
@media (max-width: 800px) {
  .new-customer-container {
    flex-wrap: wrap;
    text-align: center;
  }
  .new-customer-container .imgBox {
    margin-right: 60px;
  }
}

.new-customer-container .text-box {
  margin-right: 60px;
  margin-left: 60px;
}

.new-customer-container button {
  background: black !important;
  border: 1px solid black !important;
}
