.new-customer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-customer-container img {
    position: relative;
    border-radius: 20px;
    width: 20%;
    min-width: 400px;
    margin-left: 60px;
    margin-top: 60px;
    
}
@media (max-width: 800px) {
.new-customer-container {
  flex-wrap: wrap;
  text-align: center;
  }
  .new-customer-container img {
    margin-right: 60px;
  }
}

.new-customer-container .text-box {
  margin-right: 60px;
  margin-left: 60px
}

.new-customer-container button {
  background: black !important;
  border: 1px solid black !important;
}