.about-container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.about-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 40px;
  background: url("../../images/product_pictures/wedding_bank.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 800px;
  text-align: center;
}

.text-box {
  background: #ffffff;
  max-width: 520px;
  max-height: 300px;
  margin: auto;
  padding: 38px 20px;
  border-radius: 5px;
}

