.about-container {
  height: 100%;
  text-align: center;
  margin-top: 60px;
}

.about-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 40px;
  background: url("../../images/product_pictures/wedding_bank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-background .text-box {
  background: white;
  flex: 0 0 600px;
  padding: 40px; 
}


@media (max-width: 800px) {
  .about-background .text-box {
    flex: 0 0 300px;
  }
}


.about-background a {
  color: black !important;
  position: relative;
  display: inline-block;
}

.about-background a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #0413AC;
  transition: 0.4s ease;
  width: 100%;
}

.about-background a:hover::after {
  width: 0%; 
}
