.about-container {
  text-align: center;
  margin-top: 60px;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.about-background {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: url("../../images/product_pictures/wedding_bank.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container .text-box {
  background: white;
  flex: 0 0 600px;
  padding: 40px;
  z-index: 2;
}

@media (max-width: 800px) {
  .about-container .text-box {
    flex: 0 0 300px;
  }
}

.about-container a {
  color: black !important;
  position: relative;
  display: inline-block;
}

.about-container a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #0413ac;
  transition: 0.4s ease;
  width: 100%;
}

.about-container a:hover::after {
  width: 0%;
}
