.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

h1,
h3 {
  text-align: center;
}

.splash-map {
  border-radius: 10px;
  padding-right: 10%;
  margin-top: 0;
  align-items: center;
  border-radius: 10px;
  max-width: 50%;
}

button {
  margin-top: 25px;
  background: #c1d8f0;
}

.column {
  float: left;
  width: 50%;
}

.contact-box {
  max-width: 600px;
  }