.contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  background: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.splash-map {
  margin-right: 40px;
  margin-top: 0;
  align-items: center;
  max-width: 50%;
}

.contact-container button {
  margin-top: 25px;
  background: #c1d8f0;
}

.contact-container .contact-box {
  max-width: 600px;
  }

.contact-container button {
  background: black !important;
  border: 1px solid black !important;
  width: 225px
}