.NavbarItems {
  background: white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}

img {
  height: 200%;
  width: 200%;
}

.navbar-logo {
}

.logo {
  max-width: 180px;
  padding: 30px 0px;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 15px;
}

.nav-links {
  text-decoration: none;
  padding: 0.5rem 1 rem;
  color: black;
  font-weight: 200;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.05rem;
  position: relative;
}

a:hover {
  color: black;
}

li a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #0413AC;
  transition: 0.4s ease;
  width: 0;
}

li a:hover::after {
  width: 100%; 
  left: 0; 
}


.menu-icon {
  display: none;
}

@media screen and (max-width: 888px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: calc(100% );
    height: 100vh;
    position: absolute;
    top: 80px;
    margin-top: 5vh;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
    margin-right: 0;
    text-align: center;
  }

  .nav-menu.active {
    background: white;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: left 0.5s ease;
    z-index: 1;
    
  }

  .nav-links {
    padding-top: 1rem;
    display: table;
    width: 100%;
    text-align: center;
  }

  a:hover::after {
    width: 0%; 
    left: 0; 
  }

  .navbar-logo {
    position: absolute;
    padding-left: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    padding-top: 10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    font-size: 2rem;
  }
}